<h1 mat-dialog-title>Добавить стрим</h1>
<div mat-dialog-content>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Название стрима</mat-label>
    <input [formControl]="streamTitleForm" matInput type="text">
  </mat-form-field>

  <h2>Плейлист</h2>

  <div class="row">
    <app-playlist-card #playlistElement (click)="select(playlistElement)" *ngFor="let playlist of playlists$ | async"
                       [playlistId]="playlist.idPlaylist"
                       class="col-auto">
    </app-playlist-card>
  </div>

  <h2>Категории</h2>

  <mat-selection-list [(ngModel)]="selectedCategoriesIds">
    <mat-list-option *ngFor="let category of categories$ | async" [value]="category.idCategory">
      {{category.title}}
    </mat-list-option>
  </mat-selection-list>

  <h2>Настройки приватности</h2>

  <mat-slide-toggle [(ngModel)]="streamIsPrivateToggle">Закрытый стрим</mat-slide-toggle>

</div>

<div mat-dialog-actions>
  <button (click)="addStream()" [disabled]="!buttonEnabled()" mat-button>Добавить плейлист</button>
</div>
