<div class="container">
  <h1>
    Друзья <a href="/">Alan Wake</a>
  </h1>

  <div class="mt-4">
    <h2>Новые заявки</h2>

    <div>
      <div *ngFor="let friendRequest of friendRequests" class="row border p-2 mb-2">
        <div class="col-auto">
          <img alt="friend-request avatar" class="rounded-circle" height="40px" src="{{friendRequest.logoUrl}}"
               width="40px">
        </div>

        <div class="col d-flex justify-items-center">
          <div>{{friendRequest.firstName + ' ' + friendRequest.secondName}}</div>
        </div>

        <div class="col-auto">
          <button mat-button>Добавить в друзья</button>
          <button mat-button>Отклонить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h2>Друзья</h2>
    <div>
      <div *ngFor="let friend of friends" class="row border p-2 mb-2">
        <div class="col-auto">
          <img alt="friend-request avatar" class="rounded-circle" height="40px" src="{{friend.logoUrl}}"
               width="40px">
        </div>

        <div class="col d-flex justify-items-center">
          <div>{{friend.firstName + ' ' + friend.secondName}}</div>
        </div>

        <div class="col-auto">
          <button mat-button>Удалить из друзей</button>
        </div>
      </div>
    </div>
  </div>
</div>
