<div class="container">
  <h1>
    Друзья <a href="/">Alan Wake</a>
  </h1>

  <div>
    <h2>Новые заявки</h2>
    <div>
      <div class="row">
        <img alt="friend-request avatar" src="https://via.placeholder.com/30?Text=Digital.com">
        <div>james bond</div>
        <div>
          <button mat-button>Добавить в друзья</button>
          <button mat-button>Отклонить</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Друзья</h2>
    <div>
      <div class="row">
        <img alt="friend-request avatar" src="https://via.placeholder.com/30?Text=Digital.com">
        <div>james bond</div>
        <button mat-button>Удалить из друзей</button>
      </div>
    </div>
  </div>
</div>
