.menu-list-header {
  font-size: 25px;
}

.menu-list-element {
}

.menu-list-element:active {
  background-color: #dcdcdc;
}

.menu-list-element:hover {
  background-color: #bababa;
}

.sharp {
  font-size: 25px;
}
