<div class="container-fluid row">
  <div class="col-2">

    <div *ngIf="user$ | async" class="my-2">
      <div class="ml-2 my-3 menu-list-header">Друзья</div>

      <div class="mt-4">
        <div class="row mb-2 p-1 menu-list-element">
          <div class="col-auto">
            <img alt="friend avatar" class="rounded-circle" src="https://via.placeholder.com/30">
          </div>
          <div class="col-auto">mr salieri</div>
        </div>
        <div class="row mb-2 p-1 menu-list-element">
          <div class="col-auto">
            <img alt="friend avatar" class="rounded-circle" src="https://via.placeholder.com/30">
          </div>
          <div class="col-auto">mr salieri</div>
        </div>
        <div class="row mb-2 p-1 menu-list-element">
          <div class="col-auto">
            <img alt="friend avatar" class="rounded-circle" src="https://via.placeholder.com/30">
          </div>
          <div class="col-auto">mr salieri</div>
        </div>
      </div>
    </div>

    <div class="my-2">
      <div class="ml-2 my-3 menu-list-header">Популярные категории</div>
      <div class="mt-4">
        <button *ngFor="let category of categories$ | async" class="mb-2 p-1 w-100 text-left" mat-button>
          <div>#{{category.title}}</div>
        </button>
      </div>
    </div>
  </div>

  <div class="col-10">
    <div *ngIf="user$ | async">
      <h2 class="mt-4 text-center">Трансляции друзей</h2>
      <div class="row">
        <app-stream-card></app-stream-card>
        <app-stream-card></app-stream-card>
      </div>
    </div>

    <div>
      <h2 class="mt-4 text-center">Самые популярные трансляции(по зрителям)</h2>
      <div class="row">
        <app-stream-card *ngFor="let stream of streams$ | async"
                         [streamId]="stream.idStream"
                         [title]="stream.streamTitle"
                         [views]="stream.fullUsers">
        </app-stream-card>
      </div>
    </div>
  </div>

</div>

