<div *ngIf="user$ | async as user" class="container">

  <div class="d-flex">
    <div class="d-flex flex-column m-4">
      <img alt="user avatar" height="200" src="{{user.logoUrl ? user.logoUrl : 'https://via.placeholder.com/200'}}"
           width="200">

      <button mat-button>создать стрим</button>
    </div>

    <div class="flex-grow-1 m-4">
      <h1>{{user.firstName}} {{user.secondName}}</h1>

      <p>{{user.description}}</p>

      <button mat-button>Добавить в друзья</button>
    </div>
  </div>

  <div class="d-flex flex-column">
    <h2>Активный стрим</h2>

    <div class="d-flex">
      <app-stream-card></app-stream-card>
    </div>
  </div>


  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between">
      <h2>Плейлисты</h2>
      <button mat-button>Все плейлисты</button>
    </div>

    <div class="d-flex">
      <app-playlist-card></app-playlist-card>
      <app-playlist-card></app-playlist-card>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between">
      <h2>Библиотека видео</h2>
      <button mat-button>Все видео</button>
    </div>

    <div class="d-flex">
      <app-video-card></app-video-card>
      <app-video-card></app-video-card>
      <app-video-card></app-video-card>
      <app-video-card></app-video-card>
    </div>
  </div>

</div>

