<h1 mat-dialog-title>Добавить плейлист</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Название плейлиста</mat-label>
    <input [formControl]="playlistTitleForm" matInput type="text">
  </mat-form-field>
</div>

<div class="row" style="width: 66vw">
  <app-video-card #videoElement (click)="select(videoElement)" *ngFor="let video of $videos | async"
                  [videoId]="video.idVideo"
                  class="col-auto">
  </app-video-card>
</div>


<div mat-dialog-actions>
  <button (click)="create()" mat-button>Добавить плейлист</button>
</div>
