<div class="login-form">
  <h2 class="text-center mb-3">Вход в аккаунт</h2>


  <div [formGroup]="form" class="w-100">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Логин</mat-label>
      <input formControlName="email" matInput type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Пароль</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>
  </div>

  <button (click)="onLoginButtonClick()" color="primary" mat-raised-button>Войти</button>
</div>
