<h1 mat-dialog-title>Предложить видео</h1>
<div mat-dialog-content>

  <h2>Видео</h2>

  <div class="row">
    <app-video-card #playlistElement (click)="select(playlistElement)" *ngFor="let video of userVideos"
                    [videoId]="video.idVideo"
                    class="col-auto">
    </app-video-card>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="numberPrevVideo">
      <mat-option *ngFor="let variant of variants" value="{{variant.number}}">{{variant.video.title}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button (click)="addStream()" [disabled]="!buttonEnabled()" mat-button>Предложить видео</button>
</div>
