<div class="chat">

  <div *ngIf="vote">
    <ng-container *ngIf="vote.idVoteSkips">
      <div>Пропустить видео?</div>
    </ng-container>
    <ng-container *ngIf="vote.idVoteAdds">
      <div>Добавить видео?</div>
    </ng-container>
    <div>
      <button (click)="addUserVote(true)" mat-button>За</button>
      <button (click)="addUserVote(false)" mat-button>Против</button>
    </div>
  </div>

  <div #messagesContainer class="messages">
    <div *ngFor="let message of messages" class="message">
      <div class="message-content">
        <div class="message-text">
          <span class="message-author">{{message.name}}</span>
          {{message.text}}
        </div>
      </div>
    </div>
  </div>

  <div class="form">
    <button [matMenuTriggerFor]="menu" mat-button>
      <mat-icon class="material-icons-outlined">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above">
      <button (click)="openAddVoteSkipDialog()" mat-menu-item>Предложить пропустить видео</button>
      <button (click)="openAddVoteAddDialog()" mat-menu-item>Предложить добавить видео</button>
    </mat-menu>

    <mat-form-field class="form-input">
      <input (keyup.enter)="onSend()" [formControl]="inputMessageForm" matInput placeholder="сообщение">
    </mat-form-field>
    <button (click)="onSend()" class="form-button" mat-button>
      <mat-icon class="material-icons-outlined">send</mat-icon>
    </button>
  </div>
</div>
