<div *ngIf="user$ | async as user" class="container">

  <div class="d-flex flex-column justify-content-center">
    <div class="h3 mt-3 text-center">Информация о пользователе</div>

    <div class="mt-3 d-flex justify-content-center">
      <img alt="video preview" height="250" src="{{user.logoUrl}}" width="250">
    </div>

    <div [formGroup]="infoForm" class="mt-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Имя</mat-label>
        <input formControlName="firstName" matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Фамилия</mat-label>
        <input formControlName="secondName" matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <input formControlName="email" matInput type="text">
        <mat-label>Email</mat-label>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Описание</mat-label>
        <textarea formControlName="description" matInput type="text"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Дата рождения</mat-label>
        <input formControlName="birthdayDate" matInput type="date">
      </mat-form-field>

      <button (click)="saveInfo()" mat-flat-button>Сохранить</button>
    </div>

    <div class="mt-4">
      <div class="h4 mt-3">Обновить фото</div>

      <input
        #fileInput
        (change)="onFileChanged($event)" style="display: none"
        type="file">
      <button (click)="fileInput.click()" mat-button>Выбрать файл</button>
      <button (click)="onUpload()" mat-button>Загрузить!</button>
    </div>

    <div [formGroup]="passwordForm" class="mt-4">
      <div class="h4 mt-3">Изменить пароль</div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Старый пароль</mat-label>
        <input formControlName="oldPassword" matInput type="password">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Новый пароль</mat-label>
        <input formControlName="newPassword" matInput type="password">
      </mat-form-field>

      <button (click)="savePassword()" mat-flat-button>Сохранить</button>
    </div>

    <button (click)="deleteAccount()" class="mt-5 mat-button" color="warn" mat-flat-button>Удалить аккаунт</button>

  </div>
</div>
