<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <h1 class="text-center">Информация о пользователе</h1>

    <div class="d-flex justify-content-center">
      <img alt="video preview" src="https://via.placeholder.com/250">
    </div>


    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Логин</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Описание пользователя</mat-label>
        <textarea matInput type="text"></textarea>
      </mat-form-field>

      <button mat-button>Сохранить</button>
    </div>

    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Старый пароль</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Новый пароль</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <button mat-button>Сохранить</button>
    </div>

    <button>Удалить аккаунт</button>

  </div>
</div>
