<mat-toolbar class="row">
  <div class="col logo" routerLink="/">
    <div>PWS</div>
  </div>

  <div class="col row">
    <input #searchForm class="flex-grow-1">
    <button (click)="search(searchForm.value)" mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div *ngIf="!user" class="col row justify-content-end">
    <button mat-button routerLink="/login">Войти</button>
    <button mat-button routerLink="/register">Зарегестрироваться</button>
  </div>

  <div *ngIf="user" class="col row justify-content-end">
    <div [matMenuTriggerFor]="menu">
      <img class="rounded-circle" height="40px" src="{{user.logoUrl ? user.logoUrl : 'https://via.placeholder.com/30'}}"
           alt="avatar" width="40px">
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/users/{{user.idUser}}">
        <span>Страница пользователя</span>
      </button>
      <button mat-menu-item routerLink="/friends">
        <span>Друзья</span>
      </button>
      <button mat-menu-item routerLink="/settings">
        <span>Настройки</span>
      </button>
      <button mat-menu-item routerLink="/admin">
        <span>Панель управления</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <span>Выйти из аккаунта</span>
      </button>
    </mat-menu>

  </div>
</mat-toolbar>
